
* {
    font-weight: bold!important;
    outline: none!important;
}

body{
    background-color: #222242; 
}

.main {
    background-color: #222242;
    background-repeat: repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: center;
    row-gap: 3em!important;
    padding: 2em 1em;
    margin: 0em;
    scroll-behavior: smooth;
}

.h1heading{
    color: #fff;    
        font-size: 120px;
        font-family: 'Comforter', cursive;
        text-shadow: red 2px 2px 2px;
        background-color: transparent;
}

.title{
    color: white;
    font-family: 'Comforter', cursive;
    text-shadow: red 2px 2px 2px;
    background-color: transparent;
}

.loading{
    color: white;
    font-family: 'Comforter', cursive;
    text-shadow: red 2px 2px 2px;
    background-color: transparent;
}

i,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0em!important;
}



form {
    display: flex;
    justify-content: center;
    /* justify-content: right; */
    flex-direction: column;
    align-items: center;
    padding: 0.5em;
    row-gap: 1em;
    width: 100%;
}

.button {
    color: #fff;
    background-color: #212121;
    width: 10em;
    height: 2.5em;
    border: 0px;
    border-radius: 15px;
    font-size: 1em;
}

.button:active {
    background-color: #313131;
}

.center {
    width: 100%;
    text-align: center;
}

form {
    align-items: start;
    padding: 0em 2em;
}

.input {
    padding: 1em;
    border: none;
    border-radius: 10px;
    width: 10em;
    height: 3em;
    color: #212121;
    background-color: #fff;
    width: 90%;
}

::placeholder {
    color: #aaa;
}



#text::-moz-scrollbar {
    width: 4px;
    border-radius: 10px;
    background-color: #fff;
}

#text::-moz-scrollbar-thumb {
    width: 4px!important;
    border-radius: 10px;
    /* -webkit-box-shadow: inset 0 0 6px #212121; */
    background-color: #212121;
    border: none;
}

#text::-moz-scrollbar-track {
    background-color: #fff;
    border: none;
}

#text::-webkit-scrollbar-track {
    background-color: #fff;
    border: none;
}

#text::-webkit-scrollbar {
    width: 4px;
    border-radius: 10px;
    background-color: #fff;
}

#text::-webkit-scrollbar-thumb {
    width: 4px!important;
    border-radius: 10px;
    /* -webkit-box-shadow: inset 0 0 6px #212121; */
    background-color: #212121;
    border: none;
}


.post {
    display: flex;
    align-items: center;
    margin: 1rem;
    padding: 1.5em;
    width: 15em!important;
    border: 2px dashed #7c7c7c2b;
    border-radius: 2rem;
    background-color: #7c7c7c2b;
    color: #fff;
    animation-name: shine;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes shine{
    0%,100%{
        box-shadow: 0px 0px 32px -12px rgba(246, 245, 245, 0.5);
    }
    50%{
        box-shadow: 0px 0px 32px 3px rgba(246, 245, 245, 0.5);
    }
}

.addPost{
     display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: white;
}

.Ebutton{
    color: #fff;
    background-color: #7c7c7c2b;
    height: 2.5em;
    border: 0px;
    border-radius: 15px;
    font-size: 1em;
    margin-left: 8rem;
}

.Dbutton{
    color: #fff;
    background-color: #7c7c7c2b;;
    height: 2.5em;
    border: 0px;
    border-radius: 15px;
    font-size: 1em;
    margin-left: auto;
}

.addPostTitle{
    color: #fff;    
        font-family: 'Comforter', cursive;
        text-shadow: red 2px 2px 2px;
        background-color: transparent;
}

.addPostText{
    color: #fff;    
        font-family: 'Comforter', cursive;
        background-color: transparent;
}




.scroll {
    min-height: 1em!important;
    max-height: 6em!important;
    overflow-y: auto;
    overflow-x: auto;
    width: 100%;
}

.scroll::-moz-scrollbar {
    height: 2px;
    width: 2px;
    border-radius: 10px;
    background-color: #fff;
}

.scroll::-moz-scrollbar-thumb {
    height: 2px;
    width: 2px!important;
    border-radius: 10px;
    /* -webkit-box-shadow: inset 0 0 6px #212121; */
    background-color: #212121;
    border: none;
}

.scroll::-moz-scrollbar-track {
    background-color: #fff;
    border: none;
}

.scroll::-webkit-scrollbar-track {
    background-color: #fff;
    border: none;
}

.scroll::-webkit-scrollbar {
    height: 2px;
    width: 2px;
    background-color: #fff;
}

.scroll::-webkit-scrollbar-thumb {
    height: 2px;
    width: 2px!important;
    background-color: #212121;
    border: none;
}

.scrollH {
    overflow-y: hidden;
    overflow-x: auto;
    width: 100%;
}

.scrollH::-moz-scrollbar {
    width: 100%;
    display: none;
}

.scrollH::-webkit-scrollbar {
    width: 100%;
    display: none;
}